:root {
    --non_white: #f1f6f9d8;
    --green_pastel: #B5F1CC;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(90deg, #545B77, #374259);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Phone Screens */

#phone {
    background-color: var(--non_white);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: solid 5px black;
    height: 45rem;
    width: 25rem;
}

#phone_screen_limits {
    position: absolute;
    display: flex;
    border: solid 5px black;
    border-radius: 1rem;
    height: 90%;
    width: 90%;
}

#phone_header {
    background-color: black;
    position: absolute;
    display: flex;
    height: 1rem;
    width: 100%;
    z-index: 1;
    top: 0;
}

#phone_touch {
    background-color: #374259;
}

/* Others */

#bot_button {
    background-color: var(--non_white);
    position: absolute;
    display: flex;
    align-self: center;
    border-radius: 1rem;
    height: 1.7rem;
    width: 1.7rem;
    bottom: 0.1rem;
    left: 47%;
}